*{
	cursor:pointer;
}
.entrada{
	width: 500px;
	border: 2px solid red;
	color: #099;
	margin: 10px;
	font-family: Lato,sans-serif;
	box-shadow: 7px 7px 0 #9d1a06;
}
.tituloEntrada{
	height: 25px;
	background: #0d3951;
	padding-top: 5px;
	color: #fff;
	text-align: center;
}
.cuerpoEntrada{
	padding: 5px 20px;
	color: #666;
}
input{
	border-style: none;
	border: 1px solid #666;
	padding: 3px;
	margin: 3px;
}
input:focus{
	border: 1px solid #099;
}
select{
	color:#666;
	background-color:#fff;
	border: 1px solid #666;
	padding: 3px;
	margin: 3px;
}
select option:check{
	background:#0d3951;
}
.num{
	width: 40px;
}
.enviar{
	border: none;
	width: 10em;
	background-color: #0d3951; 
	color:#fff;
}
.enviar:hover{
	background:#0971AB;
}
.b{
	width:1em ;
	margin:0px 1px;
	background-color: #0d3951; 
	color:#fff;
}
.b:hover{
	background:#0971AB;
}
.lf{
	display: block;
}