/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
function iniciar(){
 var cajadatos=document.getElementById('cajadatos');
var boton=document.getElementById('boton');
var boton2=document.getElementById('boton2');
boton.addEventListener('click',leer1,false);
boton2.addEventListener('click', leer2, false);
}

function leer1(){
url="index.html";
leer();
}
function leer2(){
url="index2.html";
leer();
}
function leer(){
var solicitud=new XMLHttpRequest();
solicitud.addEventListener('load',mostrar,false);
solicitud.open("GET", url, true);
solicitud.send(null);
}

function mostrar(e){
cajadatos.innerHTML=e.target.responseText;
}
window.addEventListener('load', iniciar, false);

