.cont{
	border:2px solid #9d1a06;
	margin:0px auto;
	width:900px;
	box-shadow: 7px 7px 7px #9d1a06;
}
#cab-tit{
	width: 883px;
	height:150px;
	margin:0px auto;
}
#cont-cab{
	margin-left:380px;
	width:500px;
	height:20px;
	border-left:2px solid #0d3951;
	border-bottom:2px solid #0d3951;
	padding:10px;
}
.tabla{
	display: table;
	color: #666;
	margin:0px auto;
	width: 500px;
}

.tituloTabla{
	border:none;
	display: table-caption;
    text-align: left;
    font-weight: bold;  
    font-size: larger;
	color:#fff;
	padding: 5px 50px;
	background: #0d3951;
}
.cabeza{
	display: table-row;
	font-weight: bold; 
	color: #0d3951;
}
.row{
	display: table-row;
}
.cell{
	display: table-cell;
	border-width: thin;
	padding: 3px;
}